@using Microsoft.AspNetCore.Identity;
@model web.Models.Product
@using web.Models

@{
    ViewData["Title"] = "Details";
    TempData["item"] = Model.name;
    TempData["price"] = Model.price;
    TempData["id"] = Model.id;
}

@inject UserManager<web.Models.ApplicationUser> UserManager
<h1>Details</h1>

<div>
    <div>
        <div>
            <h4>Product</h4>
            <hr />
            <div style="display: flex; justify-content: space-around;">
                <img src="~/no_img.png" width="400" height="400" alt="error" style="margin-right:20px ;">
                <dl class="row">
                    <form asp-controller="Cart" asp-action="Create" method="post">
                        <div>
                            <div class="form-group">
                                <label class="control-label"></label>
                                <input class="form-control" value="@UserManager.GetUserId(User)" readonly />
                                <span class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">product id</label>
                                <input class="form-control" value="@Model.id" readonly/>
                                <span class="text-danger"></span>
                            </div>
                            <div class="form-group" style="display: none;">
                                <label class="control-label">total</label>
                                <input class="form-control" value="1" />
                                <span class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">product name</label>
                                <input class="form-control" value="@Model.name" />
                                <span  class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Add to cart" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </dl>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>