@* @model Cart

<h1>Cart Items</h1>

<table>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product ID</th>
            <th>User ID</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.ProductName</td>
            <td>@Model.ProductId</td>
            <td>@Model.UserId</td>
        </tr>
    </tbody>
</table> *@