@page "/Product/"
@model Product;

@{
    ViewData["Title"] = "Product Details";
}
@* data must be based on the card that was clicked *@

<form class="product-details" asp-controller="CartController" asp-action="Create">
    <div class="product-image">
         @* <img src="@Model.ImageUrl" alt="@Model.Name" /> *@
    </div>
    <div class="product-info">
        <h2>@Model?.name</h2> 
        <div class="product-price">
            <h4>Price: @Model?.price</h4>
        </div>
        <div class="product-description">
            <p>@Model?.description</p>
        </div>

        <div class="add-to-cart">
            <button>Add to Cart</button>
        </div>
    </div>
</form>

<style>
    .product-details {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
    }

    .product-image {
        margin-right: 20px;
    }

    .product-info {
        display: flex;
        flex-direction: column;
    }

    .product-price {
        margin-bottom: 10px;
    }

    .product-description {
        margin-bottom: 20px;
    }

    .add-to-cart button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}